extends layout

block content

  if showLogin
    div.row
      div.col-md-12.text-center
        h1 Buat Postcard dengan foto di Instagram kamu.
        p Ini adalah web yang menggunakan Instagram API dan Lob's Print API untuk print dan email sebuah postcard dari foto terbaru kamu.
        p In order to use this app you must first authorize Instagram. Untuk menggunakan web ini kamu harus melakukan autoriasasi Instagram.
        a(href="/authorize-user" class="btn btn-primary") Masuk ke Instagram
  else
    div.row
      div.col-md-6
        h1 Preview
        div.postcard-preview.clearfix
          img(src= image1, width="250px", class='image1')
          img(src= image2, width="250px", class='image2')
          img(src= image3, width="250px", class='image3')
        div.text-center
          br
          a.btn.btn-default(href="/") Acak gambar terbaru

      div.col-md-6
        h1 Create
        form(action="/create-postcard", method="post")
          div(class="form-group col-md-12")
            label Nama
            input(
              type="text"
              class="form-control"
              name="name"
            )
          div(class="form-group col-md-12")
            label Alamat
            input(
              type="text"
              class="form-control"
              name="address"
            )
          div(class="form-group col-md-4")
            label Kota
            input(
              type="text"
              class="form-control"
              name="city"
            )
          div(class="form-group col-md-4")
            label Negara (2 karakter)
            input(
              type="text"
              class="form-control"
              name="state"
              maxlength=2
            )
          div(class="form-group col-md-4")
            label Zip
            input(
              type="text"
              class="form-control"
              name="zip"
            )
          div(class="form-group col-md-12")
            label Pesan (Maksimum 350 karakter)
            textarea(
              class="form-control"
              name="message"
            )
          div(class="form-group col-md-12")
            input(type="hidden", value=image1, name="image1")
            input(type="hidden", value=image2, name="image2")
            input(type="hidden", value=image3, name="image3")
            button(type="submit", class="btn btn-primary") Buat Postcard
